<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">My Journey through Computing</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
<!--                                     <h4>2009-2011</h4> -->
                                    <h4 class="subheading">My Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After graduating high school, I immediately transitioned into the workforce and began working for a local IT company. I also enrolled at BRCC.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
<!--                                     <h4>March 2011</h4> -->
                                    <h4 class="subheading">The Love of Computers is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I started on the road to a bachelors degree by starting at a community college. I worked and studied as much as possible and managed my time accordingly. After I graduated with and Associates Degree in Computer Science, I transitioned to JMU.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
<!--                                     <h4>December 2012</h4> -->
                                    <h4 class="subheading">Beginning of End</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Finally I was on the home stretch. I continued to work at the local IT place while studying at JMU. I juggled school, work, and a side hustle of creating websites. After graduating at JMU with a Bachelors Degree (Major in Computer Science, Minor in Christian Studies, and a Certificate in Information Security) I will move into full time at the IT company.</p>
                                </div>
                            </div>
                        </li>
<!--                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">The Full Time Experience</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
