<!-- Services Section -->
    <section id="experiences">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Programmer</h4>
                    <p class="text-muted">I am proficient in Java, C, Python, HTML and CSS. I am also well versed in the use of Linux and Windows Operating Systems.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">IT Professional</h4>
                    <p class="text-muted">I have worked in the IT field overseeing the implementation, maintenance, and upgrade of computer systems, networks, and software applications since 2021. I also have experience resolving technical issues and providing assistance to clients on computer systems, software applications, and network connectivity.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Security Expert</h4>
                    <p class="text-muted">I am well versed in securing data and am working towards certificate in Information Security with my Bachelors Degree at JMU. I am experienced in ensuring the confidentiality, integrity, and availability of organizational and personal data by implementing and enforcing security policies, protocols, and best practices.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-television fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Design and Management</h4>
                    <p class="text-muted">I have designed, implemented, and maintained numerous websites for individuals and businesses.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Non-profit Specialist</h4>
                    <p class="text-muted">I have worked with non-profits to create websites, use Microsoft 365, and use Google Workspace. I have helped them navigate the discounts and promotions given by Microsoft, Google, and website hosting providers.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Backup/Business Continuity</h4>
                    <p class="text-muted">I have experience in developing and implementing comprehensive data backup and recovery strategies, as well as business continuity planning, to minimize downtime and ensure operational resilience in the event of hardware/software failures.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Microsoft 365 Administrator</h4>
                    <p class="text-muted">I am responsible for managing and maintaining cients Microsoft 365 accounts. I oversee user accounts, licenses, and security in the Microsoft Admin Center, ensuring seamless and secure operations.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Google Workspace Administrator</h4>
                    <p class="text-muted">I have been responsible for managing organizations' Google Workspace services, configuration, and support for end-users</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Christian Studies Scholar</h4>
                    <p class="text-muted">I have studied the progression of history and theology of the Christian religion. I am currently working towards a minor in Christian Studies at JMU.</p>
                </div>
            </div>
        </div>
    </section>
